## Practica SQLite

# Analisis de Datos Masivos
## Introduccion a las Series en pandas
## Profe:
## Jose Gabriel Rodriguez Rivas
# Yo mero:
# Guillermo Villarreal Gallegos

In [14]:
# this is the library to talk to the database
import sqlite3
import pandas as pd
# this is a library for data visualization
from matplotlib import pyplot as plt
# this is to say that we want our plots to be part of this page, and not opened in a new window
%matplotlib inline

In [2]:
conn = sqlite3.connect('./phonebook.db')

In [3]:
cur = conn.cursor()

In [4]:
query = "SELECT name FROM coworkers;"
cur.execute(query)

for row in cur:
    print(row)

('Han Solo',)
('Leia Skywalker',)
('Leia Skywalker',)
('Luke Skywalker',)
('Obi-Wan Kenobi',)
('Anakin Skywalker',)
('Jabba The Hutt',)
('Greedo',)
('R2D2',)
('C3PO',)

## Proporcione el código para consultar los nombres de todas las princesas.

In [10]:
ConsultaUno = "select name from coworkers WHERE title = 'Princess';"
cur.execute(ConsultaUno)
for row in cur:
    print(row)

('Leia Skywalker',)
('Leia Skywalker',)

## Proporcione el código para consultar los nombres de todas las princesas y los recaudadores.

In [11]:
ConsultaDos = "select name from coworkers WHERE title = 'Princess' or title='Bounty Hunter';"
cur.execute(ConsultaDos)
for row in cur:
    print(row)

('Han Solo',)
('Leia Skywalker',)
('Leia Skywalker',)

## Proporcione el código para consultar los nombres y los números de todos los Jedi.

In [12]:
ConsultaTres = "select name, number from coworkers WHERE title = 'Jedi';"
cur.execute(ConsultaTres)
for row in cur:
    print(row)

('Luke Skywalker', 5558963267)
('Obi-Wan Kenobi', 5558963276)

## Proporcione el código para consultar los nombres de los droids.

In [13]:
ConsultaCuatro = "select name from coworkers where title='Astro Droid'";
cur.execute(ConsultaCuatro)
for row in cur:
    print(row)

('R2D2',)